<section class="about">
    <div class="container">
    <div class="about-content">
        <div class="about-img"><img src="img/profile-pic.jpg" alt=""></div>
        <div class="about-text">
            <div class="colored"><span>ABOUT</span></div>
            <div class="title-h2"><h2>CRAFTING UNIQUE BRAND EXPERIENCES SINCE 2022</h2></div>
            <div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis cum deserunt distinctio error est, eum fugiat impedit ipsum itaque iure molestias mollitia natus nobis non omnis pariatur perferendis praesentium quaerat quis quisquam sequi sint suscipit temporibus veniam vitae voluptates.</p></div>
            <button class="btn btn--transparent-white">SCHEDULE A CALL</button>
        </div>
    </div>
    </div>
</section>