<footer class="footer">
  <div class="container">
    <div class="footer__container">

    </div>
  </div>
</footer>

<div style="display: none;">

</div>

<script>
  const TEMPLATE_PATH = ''
  let validationErrors = {
      "required": "This field is required",
      "invalid": "This field is invalid",
      "allowed_ext": "Allowed extensions: &1",
      "max_size": "Maximum file size is &1",
      "max_files": "Maximum files you can upload is &1",
      "minlength": "Minimum number of characters is &1",

      "firstname": {
          "required": "First Name is required."
      },
      "lastname": {
          "required": "Last Name is required."
      },
      "name": {
          "regex": "Only letters and white space allowed"
      },
      "email": {
          "regex": "The E-mail must be a valid email address.",
          "required": "E-mail is required."
      },
      "zipcode": {
          "required": "Postcode is required."
      },
      "language": {
          "required": "Language is required."
      },
      "city": {
          "required": "City is required."
      },
      "phone": {
          "required": "Phone is required."
      },
      "password": {
          "minlength": "Minimum number of characters is &1",
          "regex": "The password must contain numbers and Latin letters",
      },
      "password_repeat": {
          "password_repeat": "Passwords don't match"
      },
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script src="https://blackbook.dev/plugin/?dropdown&accordion&validate" type="text/javascript"></script>
<script src="js/main.js"></script>


