<section class="gallery">
    <div class="container gallery-container">
        <div class="gallery-title">
            <div class="colored"><span>PORTFOLIO</span></div>
            <div class="title-h2"><h2>MY LATEST WORKS</h2></div>
        </div>
        <div class="gallery-swiper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="img/tesla2.png" alt=""></div>
                    <div class="swiper-slide"><img src="img/tesla1.png" alt=""></div>
                    <div class="swiper-slide"><img src="img/tesla3.png" alt=""></div>
                </div>
                <div class="gallery-block">
                    <div class="swiper-navigation">
                        <div id="prevBtn" class="swiper-button-prev">
                            <svg width="25" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.117 8.53333L9.644 15.184L9 16L0 7.9776L9 0L9.645 0.814933L2.116 7.46667H24V8.53333H2.117Z" fill="#171717"/>
                            </svg>
                        </div>
                        <div id="nextBtn" class="swiper-button-next">
                            <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9604 8.53333L14.4334 15.184L15.0774 16L24.0774 7.9776L15.0774 0L14.4324 0.814933L21.9614 7.46667H0.0773926V8.53333H21.9604Z" fill="#171717"/>
                            </svg>
                        </div>
                    </div>
                    <div class="gallery-block__type"><span>BRANDING</span></div>
                    <div data-tab="tab1" class="gallery-block__group active">
                        <div class="gallery-block__name"><span>Test text one</span></div>
                        <div class="description description--light"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at deleniti dignissimos ducimus est, excepturi explicabo illum iste itaque nihil nisi odio omnis pariatur porro quas quisquam recusandae reprehenderit sunt?</p></div>
                    </div>
                    <div data-tab="tab2" class="gallery-block__group">
                        <div class="gallery-block__name"><span>chupapi munana</span></div>
                        <div class="description description--light"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at deleniti dignissimos ducimus est, excepturi explicabo illum iste itaque nihil nisi odio omnis pariatur porro quas quisquam recusandae reprehenderit sunt?</p></div>
                    </div>
                    <div data-tab="tab3" class="gallery-block__group">
                        <div class="gallery-block__name"><span>nigger</span></div>
                        <div class="description description--light"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at deleniti dignissimos ducimus est, excepturi explicabo illum iste itaque nihil nisi odio omnis pariatur porro quas quisquam recusandae reprehenderit sunt?</p></div>
                    </div>
                    <button data-tab-btn="tab1" class="active">Tab 1</button>
                    <button data-tab-btn="tab2">Tab 2</button>
                    <button data-tab-btn="tab3">Tab 3</button>
                </div>
            </div>
        </div>
    </div>
</section>