  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#191919">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/critical.css">
<!--  Critical css needs to be connected this way:-->
<!--  <style>-->
<!--    <?php echo str_replace('url(..', parse_url(get_template_directory_uri(), PHP_URL_PATH), file_get_contents(TEMPLATE_PATH."/css/critical.css")); ?>-->
<!--  </style>-->

  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/sections/header.css" />
  <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="css/sections/footer.css" />