<header class="header">
    <div class="container">
      <div class="header-content">
          <div class="header-name"><span>DIMA RUDIK</span></div>
          <nav class="nav">
              <ul>
                  <li><a href="/">ABOUT ME</a></li>
                  <li><a href="/">PORTFOLIO</a></li>
                  <li><a href="/">SKILLS</a></li>
                  <li><a href="/">SERVICES</a></li>
                  <li><a href="/">TESTIMONIALS</a></li>
              </ul>
          </nav>
          <button class="btn"><span>GET IN TOUCH</span></button>
      </div>
    </div>
</header>

<div class="menu mobile-show">
  <div class="menu__inner">

  </div>
</div>





