<section class="logo">
    <div class="container logo-container">
        <div class="line">
            <div class="line-wrap">
                <div class="line-block">
                    <div class="item"><p>
                        Auf der Heide blüht ein kleines Blümelein
                        und das heißt:
                        Erika.
                        Heiß von hunderttausend kleinen Bienelein
                        wird umschwärmt
                        Erika.
                        denn ihr Herz ist voller Süßigkeit,
                        zarter Duft entströmt dem Blütenkleid.
                        Auf der Heide blüht ein kleines Blümelein
                        und das heißt:
                        Erika. </p></div>
                </div>
                <div class="line-block">
                    <div class="item"><p>
                        Auf der Heide blüht ein kleines Blümelein
                        und das heißt:
                        Erika.
                        Heiß von hunderttausend kleinen Bienelein
                        wird umschwärmt
                        Erika.
                        denn ihr Herz ist voller Süßigkeit,
                        zarter Duft entströmt dem Blütenkleid.
                        Auf der Heide blüht ein kleines Blümelein
                        und das heißt:
                        Erika. </p></div>
                </div>
            </div>
        </div>
    </div>

</section>