<section class="start">
    <div class="container">
        <div class="start-content">
            <div class="start-hello"><span>HEY, I AM DIMA</span></div>
            <div class="title-h1 start-title"><h1>A YOUNG CREATIVE DESIGNER BASED IN KHMELNYTSKYI</h1></div>
            <div class="start-block">
                <button class="btn btn--transparent-black btn--small"><span>MY WORKS</span></button>
                <button class="btn btn--small"><span>LET'S TALK</span></button>
            </div>
        </div>
    </div>
</section>