:root {
  --white: #fff;
  --black: #000;
  --gray: #BCC8D4;
  --newBlack: #171717;
  --newWhite: #fefaee;
  --light: #FEFAEE;


  --hover-transition: 0.3s ease-in-out;

  --font-fira: 'Fira Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

